<h1>CONTACTO</h1>
<div class="container">
    <div class="row">
        <ul>
            <li><strong>Formas de contactarnos</strong></li>
            <li>Oficina principal: Villa 1ro De Mayo Calle 9 #58</li>
            <li>Whatsap:+591 68831611 <a target="_blank" href="https://api.whatsapp.com/send?phone=59168831611"><i class="fab fa-whatsapp"></i></a></li>
            <li>Telegram:+591 68831611 <a href=""><i class="fab fa-telegram"></i></a></li>
            <li>Mesengger:@teamnurse <a href=""><i class="fab fa-facebook-messenger"></i></a></li>
            <li>Correo: teamnurse@gmail.com <a href=""><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </div>
</div>
<h2 style="text-align: center">UBICANOS!!</h2>
<div class="container" id="map">
    
</div>

<div class="footer-sample" style="background-color:rgb(95, 214, 230)">
          
    <div class="columna">
          <ul class="list-unstyled">
            <li style="text-align: center" ><h5 class="titulos">SOBRE NOSOTROS</h5></li>
            <li><h6 class="textoq">Hemos invertido tiempo en pensar en la <strong>SOLUCIÓN MÁS ADECUADA PARA USTED</strong>  y conseguimos crear un servicio que sabemos que le <strong>RESULTARÁ MUY ÚTIL Y LE DARÁ LA TRANQUILIDAD Y CONFIANZA QUE NECESITA EN LOS SERVICIOS.</strong> </h6></li>       
          </ul>
    </div>
        
    <div class="columna">
          <ul class="list-unstyled">
            <li style="text-align: center"><h5 class="titulos">CONTÁCTANOS</h5></li>
            <li><h6 class="pieCont">Oficina Central: Villa 1ro De Mayo Calle 9 #58 | Santa Cruz - Bolivia |</h6>
              <h6 class="pieCont"> Telefono: (591) 3-3372638 | info@nurse.org |</h6></li>
          </ul>
           
           
    </div>
</div>
<div class="rSociales" style="background-color:rgb(95, 214, 230)">
<ul class="list-unstyled">
  <li><h5 class="titulos">SIGUENOS EN NUESTRAS REDES SOCIALES</h5></li>
  <li style="text-align: center">
    <a href=""><i class="fab fa-google-plus-g"></i></a>
    <a href=""><i class="fab fa-facebook-f"></i></a>
    <a href=""><i class="fab fa-twitter"></i> </a>
  </li>
</ul>    
</div>   
