<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/servicio1.jpg" class="d-block w-100" alt="se1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Apoyo a los mayores</h5>
        
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/servicio2.jpg" class="d-block w-100" alt="se2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Curaciones</h5>
         
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="assets/servicio3.jpg" class="d-block w-100" alt="se3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Inyecciones</h5>
         
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/servicio4.jpg" class="d-block w-100" alt="se4">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sueros</h5>
         
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/servicio5.jpg" class="d-block w-100" alt="se5">
        <div class="carousel-caption d-none d-md-block">
          <h5>Presion Arterial</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/servicio6.jpg" class="d-block w-100" alt="se6">
        <div class="carousel-caption d-none d-md-block">
          <h5>Enemas</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container" >
    <div class="shadow-lg p-3 mb-5 bg-body rounded" id="fondo1">
        <div>
          <h1>ENFERMERIA A DOMICILIO</h1>
          <h3>Bienvenidos</h3>
          <span>
            A nuestro portal web de <strong>Servicios de Enfermeria a Domicilio</strong> de Santa Cruz de la Sierra, Bolivia. 
            Somos una institución al servicio de nuestro Pueblo, con los servicios más completos 
            posibles a disposición de ellos.
          </span>
        </div>
    </div>
  </div>
       
    <div class="footer-sample" style="background-color:rgb(95, 214, 230)">
          
          <div class="columna">
                <ul class="list-unstyled">
                  <li style="text-align: center" ><h5 class="titulos">SOBRE NOSOTROS</h5></li>
                  <li><h6 class="texto">Hemos invertido tiempo en pensar en la <strong>SOLUCIÓN MÁS ADECUADA PARA USTED</strong>  y conseguimos crear un servicio que sabemos que le <strong>RESULTARÁ MUY ÚTIL Y LE DARÁ LA TRANQUILIDAD Y CONFIANZA QUE NECESITA EN LOS SERVICIOS.</strong> </h6></li>       
                </ul>
          </div>
              
          <div class="columna">
                <ul class="list-unstyled">
                  <li style="text-align: center"><h5 class="titulos">CONTÁCTANOS</h5></li>
                  <li><h6 class="pieCont">Oficina Central: Villa 1ro De Mayo Calle 9 #58 | Santa Cruz - Bolivia |</h6>
                    <h6 class="pieCont"> Telefono: (591) 3-3372638 | info@nurse.org |</h6></li>
                </ul>
                 
                 
          </div>
    </div>
<div class="rSociales" style="background-color:rgb(95, 214, 230)">
      <ul class="list-unstyled">
        <li><h5 class="titulos">SIGUENOS EN NUESTRAS REDES SOCIALES</h5></li>
        <li style="text-align: center">
          <a href=""><i class="fab fa-google-plus-g"></i></a>
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i> </a>
        </li>
      </ul>    
</div>          
           
      
     
  
  