
<div class="container">
  <div class="dropdown">
    <button type="button" id="dropdownMenuBoton" class="btn btn-success dropdown-toggle" data-toogle="dropdown" aria-haspopup="dropdown" aria-expanded="true">
      boton desplegar
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton">
      <a href="#" class="dropdown-item">Accion 1</a>
      <a href="#" class="dropdown-item">Accion 1</a>
      <a href="#" class="dropdown-item">Accion 1</a>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <div class="container">
    
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Información</a>
          </li>
          <li class="nav-itemFin">
            <a class="nav-link" routerLink = "/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</nav>  