<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Enfermeria v1.0.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactanos">Contacto</a>
        </li>
        <ng-container *ngIf="!isLogin(); else salir">
          <li class="nav-itemFin">
            <a class="nav-link" routerLink = "/login">Login</a>
          </li>
        </ng-container>
        <ng-template #salir>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/navegate">Navegador</a>
          </li>
          <li class="nav-itemFin">
            <a class="nav-link" style="cursor: pointer" (click)="logAut()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>