<div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 mt-4">
        <div class="card mt-4">
          <div class="card-header bg-dark text-white d-flex justify-content-between alingn-items-center">
            REGISTRAR ENFERMERA
          </div>
          <form [formGroup]='registroForm' (ngSubmit)="nuevaCuenta()">
            <div class="card-body">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="correo" placeholder="Correo" value="" required> 
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="contrasenia"  placeholder="Password"  value="" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="rol"  placeholder="Rol"  value="" required>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-info" [disabled]="registroForm.invalid">REGISTRAR</button> <!--   -->
                <button type="button" class="btn btn-info float-end" (click)="cancelar()">CANCELAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>   
      
    